section
  h2 รู้จักกันสักนิด

  .container#profile
    .container-column(style="flex: 1;")
      img(src="./assets/profile.jpg", alt="profile" id="img-profile")
    .container-column(style="flex: 3;")
      .profile-detail
        span เปียว (Peaw)
        br
        sub
          small (พิริยพงษ์ เลาพงษ์สิต)
        
        ul
          li YWC 17 สาขา Programming
          li Software Engineer @ Agoda Services
            ul
              li day-to-day เขียน Scala, C#
          li Computer Engineering @ CU (CP42)
            ul
              li proud member of 
                a(href="https://thinc.in.th") Thinc.
      .profile-contacts
        i.fa.fa-facebook-square
        |   Piriyapong Laopongsit
        br
        i.fa.fa-twitter
        |   @peawyoyoyin2
