section
  section
    h2 Scala Features
  include ./5-scala-features/1-java-interop.pug
  include ./5-scala-features/2-powerful-monads.pug
  include ./5-scala-features/3-pattern-matching.pug
  include ./5-scala-features/4-concurrency.pug
  include ./5-scala-features/5-composition-with-traits.pug
  include ./5-scala-features/6-semantic-language-features.pug
