<!DOCTYPE html>
html(lang="en")
  head
    link(rel="icon", href="./assets/favicon.ico")
    link(rel="stylesheet", href="../node_modules/reveal.js/css/reveal.css")
    link(rel="stylesheet", href="../node_modules/reveal.js/css/theme/black.css")
    link(rel="stylesheet", href="../node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../node_modules/reveal.js/lib/css/monokai.css")
    link(rel="stylesheet", href="./css/index.css")
    title YWC Programmer Talk: รู้จัก Scala ที่ไม่ใช่โรงหนัง by peawyoyoyin
  body
    .reveal
      .slides
        include slides/1-cover.pug
        include slides/2-introduction.pug
        include slides/3-outline.pug
        include slides/4-language-overview.pug
        include slides/5-scala-features.pug
        include slides/6-personal-opinions.pug
        include slides/7-who-uses-scala.pug
        section
          h2 Thank you!
          p Feel free to ask questions here
          p For more Scala, check out 
            a(href="https://scala-lang.org") scala-lang.org
    script(src="./index.js")
